<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Awards</h2>
                <!--div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div--><!--//intro-->
                <div class="item">
                    <span class="project-title">1st Prize Scholarship</span> - <span class="project-tagline">for top 3% students in both 2014 and 2015.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2nd place in English Speech Contest</span> - <span class="project-tagline">2nd prize of the speech contest hosted by graduate school in 2014.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">1st Class Honor Undergraduate Student</span> - 
                    <span class="project-tagline">recommended postgraduate candidate exempted from examination in 2013.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">National Encouragement Scholarship</span> - <span class="project-tagline">National Scholarship for students with excellent academic performace in 2013.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">CASC Scholarship</span> - <span class="project-tagline">Enterprise scholarship for top students in 2012. </span>
                </div><!--//item-->

            </section><!--//section-->