<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Phd Student in Pattern Recognition</h3>
                            <div class="time">2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href = "http://gs.njust.edu.cn">Nanjing University of Science and Technology, China</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Overall GPA: 3.68/4 <a href = '/online-cv/assets/files/Transcript_DING_Guodong_Grad.pdf'><i class = "fa fa-file-pdf-o"></i></a></P>

                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">MSc in computer Science and Engineering</h3>
                            <div class="time">2009 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href = "http://www.njust.edu.cn">Nanjing University of Science and Technology, China</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <P>Overall GPA: 3.48/4 <a href = '/online-cv/assets/files/Transcript_DING_Guodong.pdf'><i class = "fa fa-file-pdf-o"></i></a></P>
                        <p><b>Thesis:</b> “Content-based Image Retrieval” </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
            
                
            </section><!--//section-->