<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Researches</h2>


        <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Visual Question Answering</h3>
                <div class="time">2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">HKPolyU, Hong Kong</div>
        </div><!--//meta-->
        <div class="details">
            <P> A system takes in as input an image and natural language question, outputs an answer to the query based on image contents. Inspired by object proposal approaches, try to extract finer-grained features with edge box for image representation. Due to variety of question types, try to apply question factorization to train question-specific model for better overall performance.</p>  

        </div><!--//details-->
        </div><!--//item-->

        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Automatic Fabric Defect Detection</h3>
                    <div class="time">2015 - Present</div>
                </div><!--//upper-row-->
                <div class="company">HKPolyU, Hong Kong</div>
            </div><!--//meta-->
            <div class="details">
                <P> A system can automatically detect fabric defects with the technology of image processing, can also outputs reports.Developing algorithm that inspects the defects shown on fabric constantly woven with matlab and opencv.Designing and implementing the software, which integrates hardware parts, e.g. multiple cameras, shaft encoder.</p>  

                </div><!--//details-->
            </div><!--//item-->

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Fog Detection and Alarm System</h3>
                        <div class="time">2015</div>
                    </div><!--//upper-row-->
                    <div class="company">Nanjing, China</div>
                </div><!--//meta-->
                <div class="details">
                    <p>Detection device captures image with proper intervals and puts it to process to evaluate fog situation, then uploads results and typical image to Server for future process. Designed a practical approach for fog detection based on multiple experiments. Developed the algorithm that receives an image and output the ranked severeness of the fog. Implemented most part of the project, wrote both the Terminal (an app) and Server (Web).</p>  

                </div><!--//details-->
            </div><!--//item-->

            <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Intelligent Vehicle for Rut Detection</h3>
                        <div class="time">2014 - 2015</div>
                    </div><!--//upper-row-->
                    <div class="company">Nanjing, China</div>
                </div><!--//meta-->
                <div class="details">
                    <p>A real-time system that captures the image of the road and uses image-processing technology to automatically calculate the rut.
                        Proposed an algorithm extracting the line-structured feature to represent the rut, and mimicking the real measurement approach to calculate the depth of the rut.
                        Integrated data capturing, processing and rearranging parts together, which can show the results within low latency.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Optical Character Recognition (OCR)</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Nanjing, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Wrote an android app that captures or loads an image and outputs the characters (Both English and Chinese). Made improvements to the preprocessing part that enhanced the recognition rate up to 96%.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Road Detection for Unmanned Vehicle</h3>
                            <div class="time">2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Nanjing, China</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Studied the work principle of Velodyne HDL-64E Lidar, and translated the raw 3D data from the lidar into a grid map. Clustered the obstacles on the grid map and extracted feasible paths for navigation.</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->