<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
    <p>I am now working as an Research Assistant at <a href = "https://www.polyu.edu.hk">The Hong Kong Polytechnic Univeristy</a>. My research interests mainly include <b>Computer Vision, Pattern Recognition and Image Processing</b>. In the past few years, I’ve worked and am working on several projects in related areas and now <b>looking for Phd opportunites</b>.</p>
</div><!--//summary-->
</section><!--//section-->